## Deliverable 2. Create a Customer Travel Destinations Map.

In [37]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os, csv
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [38]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nome,US,64.5011,-165.4064,38.16,69,75,19.57,broken clouds
1,1,Hauterive,FR,46.0901,3.4459,65.16,87,83,4.14,broken clouds
2,2,Tuktoyaktuk,CA,69.4541,-133.0374,44.60,70,90,13.80,overcast clouds
3,3,New Norfolk,AU,-42.7826,147.0587,49.50,68,88,1.01,overcast clouds
4,4,Jamestown,US,42.0970,-79.2353,68.09,92,90,5.01,overcast clouds

In [39]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [40]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
22,22,Albany,US,42.6001,-73.9662,75.15,77,95,6.49,overcast clouds
27,27,Rikitea,PF,-23.1203,-134.9692,73.15,62,95,15.84,overcast clouds
29,29,Angoche,MZ,-16.2325,39.9086,74.34,80,35,4.65,light rain
31,31,Havelock,US,34.8791,-76.9013,78.80,88,90,5.01,overcast clouds
35,35,Souillac,MU,-20.5167,57.5167,74.35,83,40,15.08,light rain
43,43,Campbellsville,US,37.3434,-85.3419,79.36,52,60,4.00,broken clouds
45,45,Westport,US,41.1415,-73.3579,75.06,90,90,1.99,overcast clouds
49,49,San Cristobal,VE,7.7669,-72.2250,77.18,62,75,5.37,broken clouds
51,51,Martapura,ID,-3.4167,114.8500,75.29,94,78,1.81,broken clouds
54,54,Kununurra,AU,-15.7667,128.7333,73.38,49,66,5.75,broken clouds

In [41]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [42]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()
# No empty rows in dataframe

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
22,22,Albany,US,42.6001,-73.9662,75.15,77,95,6.49,overcast clouds
27,27,Rikitea,PF,-23.1203,-134.9692,73.15,62,95,15.84,overcast clouds
29,29,Angoche,MZ,-16.2325,39.9086,74.34,80,35,4.65,light rain
31,31,Havelock,US,34.8791,-76.9013,78.80,88,90,5.01,overcast clouds
35,35,Souillac,MU,-20.5167,57.5167,74.35,83,40,15.08,light rain
...,...,...,...,...,...,...,...,...,...,...
671,671,Maceio,BR,-9.6658,-35.7353,76.44,94,75,6.11,broken clouds
684,684,Mindelo,CV,16.8901,-24.9804,74.75,69,75,19.15,broken clouds
687,687,Obama,JP,35.4958,135.7460,71.64,90,100,18.43,overcast clouds
689,689,Santa Maria,BR,-29.6842,-53.8069,72.70,49,0,4.94,clear sky
690,690,Quatre Cocos,MU,-20.2078,57.7625,74.08,72,56,16.15,light rain

In [43]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
22,Albany,US,75.15,overcast clouds,42.6001,-73.9662,
27,Rikitea,PF,73.15,overcast clouds,-23.1203,-134.9692,
29,Angoche,MZ,74.34,light rain,-16.2325,39.9086,
31,Havelock,US,78.80,overcast clouds,34.8791,-76.9013,
35,Souillac,MU,74.35,light rain,-20.5167,57.5167,
43,Campbellsville,US,79.36,broken clouds,37.3434,-85.3419,
45,Westport,US,75.06,overcast clouds,41.1415,-73.3579,
49,San Cristobal,VE,77.18,broken clouds,7.7669,-72.2250,
51,Martapura,ID,75.29,broken clouds,-3.4167,114.8500,
54,Kununurra,AU,73.38,broken clouds,-15.7667,128.7333,

In [44]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    results = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = results["results"][0]['name']
    except (IndexError, KeyError):
        hotel_df.loc[index, 'Hotel Name'] = np.nan
        print('hotel not found...skipping')

hotel not found...skipping
hotel not found...skipping
hotel not found...skipping
hotel not found...skipping
hotel not found...skipping
hotel not found...skipping
hotel not found...skipping
hotel not found...skipping
hotel not found...skipping
hotel not found...skipping
hotel not found...skipping

In [45]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
22,Albany,US,75.15,overcast clouds,42.6001,-73.9662,NaN
27,Rikitea,PF,73.15,overcast clouds,-23.1203,-134.9692,Pension Maro'i
29,Angoche,MZ,74.34,light rain,-16.2325,39.9086,Guest House HESADA
31,Havelock,US,78.80,overcast clouds,34.8791,-76.9013,Sherwood Motel
35,Souillac,MU,74.35,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa

In [46]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis=0, how='any')
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
27,Rikitea,PF,73.15,overcast clouds,-23.1203,-134.9692,Pension Maro'i
29,Angoche,MZ,74.34,light rain,-16.2325,39.9086,Guest House HESADA
31,Havelock,US,78.80,overcast clouds,34.8791,-76.9013,Sherwood Motel
35,Souillac,MU,74.35,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
43,Campbellsville,US,79.36,broken clouds,37.3434,-85.3419,"Holiday Inn Express Campbellsville, an IHG Hotel"

In [47]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [48]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))